@import url("https://use.typekit.net/hfi1kak.css");

:root {
    --bgc-01: rgb(82, 216, 216);
    --bgc-02: hsl(0, 0%, 100%);
    --txt-01: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}


body {
    background-color: var(--bgc-01);
    color: var(--txt-01);
    font-family: "owners-wide", sans-serif;
    line-height: 1;
}

img {
    width: 100%;
}

a{
    color: rgba(29, 12, 113, 0.947);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

header .logo {
    display: flex;
}

header nav {
    justify-self: end;
    align-self: start;
}

header li{
    display:inline;
}

section{
    padding: 2rem;
}

footer{ 
    padding: 2rem;
    background-color: rgb(11, 11, 69);
}